<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6fd08b9a-6a70-4164-8bce-a1c695f427c2/resourcegroups/StudentManagementApi20231010141700ResourceGroup/providers/Microsoft.Web/sites/StudentManagementApi20231010141700</ResourceId>
    <ResourceGroup>StudentManagementApi20231010141700ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/6fd08b9a-6a70-4164-8bce-a1c695f427c2/resourceGroups/StudentManagementApi20231010141700ResourceGroup/providers/Microsoft.ApiManagement/service/StudentManagement/apis/StudentManagementApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studentmanagementapi20231010141700.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>40ac74ae-fb19-442e-9fcb-b20fcb7b5dbe</ProjectGuid>
    <MSDeployServiceURL>studentmanagementapi20231010141700.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StudentManagementApi20231010141700</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$StudentManagementApi20231010141700</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>